{% extends 'home.html' %}

{% block body %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
  /* Estilos adicionales personalizados */
  body {
      background-color: #e0dcdc;
      color: #ffffff;
  }
  
  .login-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #cb9d83;
      border: 1px solid #011427;
      border-radius: 5px;
  }

  .btn {
      max-width: 200px;
      margin: 0 auto;
      padding: 20px;
      border: 2px solid #025222;
      border-radius: 7px;
  }

  #my-login-container {
      background-color: #a40d0d;
      color: #ffffff;
      border: 1px solid #021325;
      /* Agrega aquí tus estilos personalizados, codigo para registrarnos*/
  }

</style>

<div class="container">
  <div class="container">
      <div class="login-container" id="my-login-container">
          <h4>REGISTRAR</h4> {{ msg }}
      </div>
  </div>

  <br>

  <div class="login-container">
      <h5>Ingrese sus datos: </h5>
      <form method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}" class="text-light">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-danger">Registrar</button>
      </form>
  </div>
</div>

{% endblock %}
